* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 50%;
  margin: 10% auto;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 1rem;
  margin: 2% 0;
}
input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  color: brown;
}

.inputs-container {
  margin: 0% 30%;
  display: flex;
  justify-content: space-between;
}
