.titles {
  display: flex;
  justify-content: center;
  list-style-type: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: bold;
}
.productsTitle {
  font-size: 2rem;
  color: rebeccapurple;
  text-align: center;
}
