.green {
  width: 80vh;
  height: 60vh;
  background-color: #8ac926;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  width: 70vh;
  height: 50vh;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #118ab2;
}

.pink {
  width: 60vh;
  height: 40vh;
  margin: 5vh auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff99c8;
  flex-direction: column;
}

.purple {
  width: 50vh;
  height: 15vh;
  margin: 2.5vh auto 2.5vh;
  background-color: #8338ec;
}